


/* Styles CSS pour les formulaires de connexion et d'inscription */

.login-container,
.register-container {
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Effets spéciaux */
.login-container {
  transition: transform 0.3s ease;
}

.register-container {
  transition: transform 0.3s ease;
}

.login-container:hover {
  transform: scale(1.05);
}

.register-container:hover {
  transform: scale(1.05);
}

/* Disposition spéciale pour les deux formulaires */
section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 768px) {
  section {
    flex-direction: column;
  }
}