<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notre vision</title>
    <meta name="description" content="Découvrez les créations uniques et innovantes du jeune styliste parisien sur WANTIT-MADE. Explorez nos collections de mode inspirées des dernières tendances, mêlant style urbain et élégance. Parcourez notre site pour trouver des pièces uniques qui reflètent votre style et votre personnalité.">
    <link rel="shortcut icon" href="../public/img/Wantit-logo.png">
    <!--  Liens vers les fichiers CSS -->
  <link rel="stylesheet" href="../public/css/style.css">
  <link rel="stylesheet" href="../public/css/vision.css">
    <!--  Lien vers le fichier JS -->
    <script src="./public/js/script.js" defer></script>
</head>
<body>
  <header>
    <!-- Barre de navigation -->
<div class="navbar" id="myNavbar">
  <a href="#" class="logo"><img src="../public/img/Wantit-logo.png" height="40px" alt="logo de la marque WANTIT MADE"></a>
  <div class="navbar-right">
    <a href="../index.html" class="active">Accueil</a>
    <a href="vision.html">Notre vision</a>
    <a href="collection.html">Collection 2024</a>
    <a href="blog.html">Blog</a>
    <a href="contact.html">Contact</a>
    <a href="connexion.html">Connexion</a>
  </div>
  <a href="../index.html" class="icon" onclick="toggleMenu()">
    <i class="fa fa-bars"></i>
  </a>
</div>
</header>
<!-- MAIN -->
<main>
  <section>
    <h1>Qui somme nous ?</h1>
    <img src="../public/img/wax-shop.jpeg" class="my-img" alt="photo de la boutique">
  </section>
  <section>
    <h2>Notre vision</h2>
<p>Chez Wantit, notre vision est de redéfinir l’expérience de la mode en créant un univers où l’élégance rencontre l’innovation. Nous aspirons à être bien plus qu’une simple destination de shopping, mais plutôt un lieu où chaque vêtement raconte une histoire, où chaque style est une expression de votre individualité. Notre vision est ancrée dans la conviction que la mode va au-delà des vêtements – c’est un moyen de se connecter, de s’exprimer et de célébrer la diversité qui rend chacun de nous unique.</p>

  </section>
  <section>
    <h2>Notre Mission</h2>
<p>
  La mission de Wantit est de vous offrir bien plus que des vêtements ; nous vous proposons une expérience de shopping exceptionnelle, ancrée dans l’authenticité, la qualité et l’innovation. Nous nous engageons à créer des vêtements qui ne suivent pas simplement les tendances, mais qui les influencent, des pièces qui transcendent les saisons pour devenir des classiques intemporels. Chez Mushei, nous sommes déterminés à faire de chaque achat une expérience mémorable, où la satisfaction du client et le respect de l’environnement sont au cœur de notre démarche.
<img src="../public/img/img-c1.png" class="my-img" alt="">
</p>
</section>


<section>
  <h2>Nos valeurs</h2>
  <p>
    Authenticité : Wantit est un lieu où l’authenticité est célébrée. Chaque pièce de notre collection est conçue avec soin, reflétant notre engagement envers la qualité et l’intégrité.

Innovation : Nous embrassons l’innovation dans la mode. Nous cherchons constamment de nouvelles façons de repousser les limites, que ce soit à travers des designs avant-gardistes, des matériaux durables ou des expériences de shopping novatrices.

Diversité : La diversité est la clé de la beauté. Chez Wantit, nous honorons la diversité sous toutes ses formes, que ce soit dans nos designs, notre équipe ou notre communauté.
  </p>
  <img src="../public/img/img-c2.jpg" class="my-img" alt="">
</section>





</main>

<!-- FOOTER -->
<footer class="footer">
  <div class="container">
    <div class="footer-column">
      <h4>Service Client</h4>
      <ul>
        <li><a href="#">Contactez-nous</a></li>
        <li><a href="#">Questions fréquentes</a></li>
        <li><a href="#">Trouver une pépite</a></li>
        <li><a href="#">Politique de retours</a></li>
        <li><a href="#">Mentions légales</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>À Propos de Wantit Made</h4>
      <ul>
        <li><a href="#">La nouvelle collection</a></li>
        <li><a href="#">Notre vision</a></li>
        <li><a href="#">Le blog</a></li>
        <li><a href="#">Formulaire</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Abonnez-vous à la newsletter</h4>
      <p>Recevez les dernières actualités de Wantit Made directement dans votre boîte de réception.</p>
      <form action="#">
        <input type="email" placeholder="Entrez votre adresse e-mail" required>
        <button type="submit">S'abonner</button>
      </form>
    </div>
  </div>
</footer>

</body>
</html>